h1, h3 {
  font-family: "Inter", sans-serif;
}

h6 {
  font-family: "Raleway", sans-serif;
}
.section-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  transition: 0.2s ease all;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.7rem;
  justify-content: space-evenly;
  height: 11rem;
}

#profileBox {
  background-color: #efefef;
  border-radius: 12px;
  font-family: "Raleway", sans-serif;  
  padding: 16px;
}

#backButton {
  padding: 1.2rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50px;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: ease all 0.2s;
}

#backButton:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #2c4b4d;
  color: whitesmoke;
}

.section-card:hover {
  transform: scale(1.1, 1.1);
  background-color: #2b4b4c;
  color: #fff;
}


a,
a:link,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: inherit;
  font-family: "Raleway", sans-serif;
}

.form-select{
  font-family: "Raleway", sans-serif;
}

#criarEixo{
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: ease all 0.2s;
  padding: 0.3em;
}

#criarEixo:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #2c4b4d;
  color: whitesmoke;
}
