h1,
h3 {
  font-family: "Inter", sans-serif;
}

h5,
h6,
select,
button {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

#profileBox {
  background-color: #efefef;
  border-radius: 12px;
  font-family: "Raleway", sans-serif;
  width: 220px;
  margin-left: 0.6rem;

}

#backButton {
  padding: 1.2rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50px;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: ease all 0.2s;
}

#backButton:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #2c4b4d;
  color: whitesmoke;
}

a,
a:link,
a:hover {
  text-decoration: none;
  color: inherit;
}

#centerSection {
  font-family: "Inter", sans-serif;
}

h6 {
  margin: 0;
}
  
#list {
    width: 70%;
    height: 100%;
}

#questionsHeader {
    background-color: #2c4b4d;
    border-radius: 10px;
    color: whitesmoke;
    font-family: "Raleway", sans-serif;
    margin: none;
    margin-bottom: 1rem;
}

#quest {
    margin-top: 1rem;
    background-color: #accccb;
    border-radius: 10px;
    border-color: white ;
    color: black;
    font-family: "Raleway", sans-serif;
    margin: none;
    width: 98%;
    height: 9%;
}

#quest:hover{
    background-color: #2c4b4d;
    color:whitesmoke;
    transform: scale(1.01, 1.01);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

#filter1{
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  border-color: #7B123A;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

#filter1:hover{
  background-color: #7B123A;
  border-color: #7B123A;
  color: white;
}

#filter2{
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  border-color: #BA9A48;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

#filter2:hover{
  background-color: #BA9A48;
  border-color: #BA9A48;
  color: white;
}

#filter3{
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  border-color: #007a3d9c;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  font-size: 14px;
}

#filter3:hover{
  background-color: #007a3d9c;
  border-color: #007a3d9c;
  color: white;
}