

.rectangle {
  height: 70px;
  width: 900px;
  position:fixed;
  top:27%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #2B4B4C;
  font-size: 28px;
  color: White;
  line-height: 65px;
  border-radius: 10px;
}

.rectangle2 {
  height: 70px;
  width: 900px;
  position: fixed;
  top:42%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #579a9973 ;
  font-size: 20px;
  color: black;
  line-height: 65px;
  border-radius: 10px;
}

.rectangle2:hover{
  background-color: #316867;
}

.rectangle3 {
  height: 70px;
  width: 900px;
  position: fixed;
  top:57%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #579a9973 ;
  font-size: 20px;
  color: black;
  line-height: 65px;
  border-radius: 10px;
}


.rectangle3:hover{
  background-color: #316867;
}


.rectangle4 {
  height: 70px;
  width: 900px;
  position: fixed;
  top:72%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #579a9973;
  font-size: 20px;
  color: black;
  line-height: 65px;
  border-radius: 10px;
}


.rectangle4:hover{
  background-color: #316867;
}


.rectangle5 {
  height: 70px;
  width: 900px;
  position: fixed;
  top:87%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #579a9973;
  font-size: 20px;
  color: black;
  line-height: 65px;
  border-radius: 10px;
}


.rectangle5:hover{
  background-color: #316867;
}


.test1{
  color:#7B123A;
  position: fixed;
  top:7%;
  left:79%;
  transform: translate(-50%, -50%);
  border-color: #7B123A;
  border-radius: 5px;
  

}

.test1:hover{
  background-color: #7b123ab1;  
  color: black;
}




.test2{
  color:#BA9A48;
  position: fixed;
  top:7%;
  left:86%;
  transform: translate(-50%, -50%);
  border-color: #BA9A48;
  border-radius: 5px;
}

.test2:hover{
  background-color: #ba9a48ac;  
  color: black
}

.test3{
  color:#0E7E7A;
  position: fixed;
  top:7%;
  left:93%;
  transform: translate(-50%, -50%);
  border-color: #0E7E7A;
  border-radius: 5px;
}

.test3:hover{
  background-color: #0e7e7aa8; 
  color: black
}

.tittle{
  font-size: 1,5rem;
  color:black;
  position: fixed;
  top:9%;
  left:50%;
  transform: translate(-50%, -50%);
  padding-bottom: 1rem;
  padding-top: 2rem;
  
}

.rectangle6{
  height: 90px;
  width: 200px;
  background-color: whitesmoke;
  position: fixed;
  top:25%;
  left:9%;
  transform: translate(-50%, -50%);
  line-height: 22px;
  padding: 10px;
  border-radius: 10px;

}

.rectangle7{
  height: 90px;
  width: 200px;
  position: fixed;
  top:32%;
  left:9.5%;
  transform: translate(-50%, -50%);
  line-height: 22px;
  

}

.dot {
  position: fixed;
  top:8%;
  left:4%;
  transform: translate(-50%, -50%);
  height: 65px;
  width: 65px;
  background-color: #EFEFEF;
  border-radius: 50%;
  display: inline-block

}

.buttonVoltar {
    padding-right: 1rem;
}

#icone {
    border-radius: 50%;
    padding: 15px;
    border: #efefef;
    background-color: #efefef;
    color: #579a99;
    margin-left: 23px;
    margin-top: 35px;
}

#topo-tela {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 10px;
}


#backButton {
  padding: 1.2rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50px;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: ease all 0.2s;
}
