h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

a,
a:link,
a:hover {
  text-decoration: none;
  color: inherit;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
  
.buttonVoltar {
  padding-right: 1rem;
}

.buttonCadastrar {
  color: #579a99; 
  background-color: #ffffff;
  border-style: none;
  border-radius: 12px;
  border-style: none;
  padding: 0.9rem 1.9rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  transition: ease all 0.2s;
  padding: 5px 10px;
  margin-top: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.buttonCadastrar:hover {
  background-color: #579a99;
  font-weight: bold;
  color:#fcfbf9;
  transform: scale(1.1,1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.back {
  padding-top: 0.8rem;
}

.next {
  padding-top: 3rem;
  align-items: center;
}

.register {
  padding-top: 2.75rem;
}

#backButton {
  padding: 1.2rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50px;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: ease all 0.2s;
}

#backButton:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #579a99;
  color: white;
}
